<div data-ng-controller="plugin-trelliswidget.controllers.stylerController">
	
	<!-- 	Size Slider 	-->
	<div class="settings-pane-host">
		<div class="pane-row">
	        <div class="pane-row-title">Chart Size</div>
	        <div class="pane-row-holder gravity-slider">
	            <div class="white-slider">
	                <data-slider class="numeric-slider"
	                             data-type="value"
	                             data-min="40"
	                             data-max="300"
	                             data-step="1"
	                             data-value="model.chartSize"
	                             data-trigger="change"
	                             data-on-release="refreshWidget()">
	                </data-slider>
	            </div>
	        </div>
	    </div>
	</div>

	<!-- Chart Type 	-->
	<div class="settings-pane-host">
		<div class="pane-row">
			<div class="pane-row-title">Chart Type</div>
			<div class="positions-holder">
				<div data-ng-class="{ selected: model.chartType == 'number'}" data-ng-click="setChartType('number')" class="radio-option-item">
					<div class="custom-radio-btn" data-ng-class="{ selected: model.chartType == 'number'}"></div>
					<div class="radio-option-separator"></div>
					<div class="radio-option-caption">Number</div>
				</div>
				<div data-ng-class="{ selected: model.chartType == 'bar'}" data-ng-click="setChartType('bar')" class="radio-option-item">
					<div class="custom-radio-btn" data-ng-class="{ selected: model.chartType == 'bar'}"></div>
					<div class="radio-option-separator"></div>
					<div class="radio-option-caption">Bar</div>
				</div>
				<div data-ng-class="{ selected: model.chartType == 'column'}" data-ng-click="setChartType('column')" class="radio-option-item">
					<div class="custom-radio-btn" data-ng-class="{ selected: model.chartType == 'column'}"></div>
					<div class="radio-option-separator"></div>
					<div class="radio-option-caption">Column</div>
				</div>
				<div data-ng-class="{ selected: model.chartType == 'line'}" data-ng-click="setChartType('line')" class="radio-option-item">
					<div class="custom-radio-btn" data-ng-class="{ selected: model.chartType == 'line'}"></div>
					<div class="radio-option-separator"></div>
					<div class="radio-option-caption">Line</div>
				</div>
				<div data-ng-class="{ selected: model.chartType == 'pie'}" data-ng-click="setChartType('pie')" class="radio-option-item">
					<div class="custom-radio-btn" data-ng-class="{ selected: model.chartType == 'pie'}"></div>
					<div class="radio-option-separator"></div>
					<div class="radio-option-caption">Pie</div>
				</div>
			</div> 
		</div>
	</div>

    <!-- Label Location 	-->
	<div class="settings-pane-host">
		<div class="pane-row">
			<div class="pane-row-title">Label Location</div>
			<div class="positions-holder">
				<div data-ng-class="{ selected: model.label == 'left'}" data-ng-click="setLabel('left')" class="radio-option-item">
					<div class="custom-radio-btn" data-ng-class="{ selected: model.label == 'left'}"></div>
					<div class="radio-option-separator"></div>
					<div class="radio-option-caption">Left</div>
				</div>
				<div data-ng-class="{ selected: model.label == 'right'}" data-ng-click="setLabel('right')" class="radio-option-item">
					<div class="custom-radio-btn" data-ng-class="{ selected: model.label == 'right'}"></div>
					<div class="radio-option-separator"></div>
					<div class="radio-option-caption">Right</div>
				</div>
				<div data-ng-class="{ selected: model.label == 'top'}" data-ng-click="setLabel('top')" class="radio-option-item">
					<div class="custom-radio-btn" data-ng-class="{ selected: model.label == 'top'}"></div>
					<div class="radio-option-separator"></div>
					<div class="radio-option-caption">Top</div>
				</div>
				<div data-ng-class="{ selected: model.label == 'bottom'}" data-ng-click="setLabel('bottom')" class="radio-option-item">
					<div class="custom-radio-btn" data-ng-class="{ selected: model.label == 'bottom'}"></div>
					<div class="radio-option-separator"></div>
					<div class="radio-option-caption">Bottom</div>
				</div>
			</div> 
		</div>
	</div>

	<!-- Value Axis 	-->
	<div class="settings-pane-host">
		<div class="pane-row">
			<div class="pane-row-title">Value Axis</div>
			<div class="positions-holder">
				<div data-ng-class="{ selected: model.valueAxis }" data-ng-click="setValueAxis(true)" class="radio-option-item">
					<div class="custom-radio-btn" data-ng-class="{ selected: model.valueAxis }"></div>
					<div class="radio-option-separator"></div>
					<div class="radio-option-caption">Visible</div>
				</div>
				<div data-ng-class="{ selected: !model.valueAxis }" data-ng-click="setValueAxis(false)" class="radio-option-item">
					<div class="custom-radio-btn" data-ng-class="{ selected: !model.valueAxis }"></div>
					<div class="radio-option-separator"></div>
					<div class="radio-option-caption">Hidden</div>
				</div>
			</div> 
		</div>
	</div>

	<!-- Aspect Ratio 	-->
	<div class="settings-pane-host">
		<div class="pane-row">
			<div class="pane-row-title">Aspect Ratio</div>
			<div class="positions-holder">
				<div data-ng-class="{ selected: model.aspectRatio == '16:9'}" data-ng-click="setAspectRatio('16:9')" class="radio-option-item">
					<div class="custom-radio-btn" data-ng-class="{ selected: model.aspectRatio == '16:9'}"></div>
					<div class="radio-option-separator"></div>
					<div class="radio-option-caption">16:9</div>
				</div>
				<div data-ng-class="{ selected: model.aspectRatio == '4:3'}" data-ng-click="setAspectRatio('4:3')" class="radio-option-item">
					<div class="custom-radio-btn" data-ng-class="{ selected: model.aspectRatio == '4:3'}"></div>
					<div class="radio-option-separator"></div>
					<div class="radio-option-caption">4:3</div>
				</div>
				<div data-ng-class="{ selected: model.aspectRatio == '1:1'}" data-ng-click="setAspectRatio('1:1')" class="radio-option-item">
					<div class="custom-radio-btn" data-ng-class="{ selected: model.aspectRatio == '1:1'}"></div>
					<div class="radio-option-separator"></div>
					<div class="radio-option-caption">1:1</div>
				</div>
				<div data-ng-class="{ selected: model.aspectRatio == '3:4'}" data-ng-click="setAspectRatio('3:4')" class="radio-option-item">
					<div class="custom-radio-btn" data-ng-class="{ selected: model.aspectRatio == '3:4'}"></div>
					<div class="radio-option-separator"></div>
					<div class="radio-option-caption">3:4</div>
				</div>
			</div> 
		</div>
	</div>
	
	
</div>