
/*	Container div 	*/

widget[type="trelliswidget"] .widget-body {
	overflow-y:scroll;
}

.d3-trellis {
	margin: 0.75em;
}

/*	all highchart containers 	*/
.d3-trellis div.trellis {
	float: left;
}

/*	Indicators 	*/
.d3-trellis div.indicator-title {
	text-align: center;
	color: #333333; 
	font-size: 16px; 
	font-weight: normal;
	text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
}
.d3-trellis div.indicator-value {
	text-align: right;
}